In [22]:
import pandas as pd
import numpy as np
import matplotlib as lib
import seaborn as sa

In [23]:
import pandas as pd

sales_data= pd.read_csv(r"E:\Daminos_order_forecasting\datasets\Pizza_Sale - pizza_sales.csv")
ingredient_pizza= pd.read_csv(r"E:\Daminos_order_forecasting\datasets\Pizza_ingredients - Pizza_ingredients.csv")

sales_data.info()
ingredient_pizza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48604 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48613 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48597 non-null  object
 10  pizza_ingredients  48607 non-null  object
 11  pizza_name         48613 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pizza_name_id       518 non-null    object
 1   pizza_name          518 non-null    object
 2   pizza_ingredients   518 non-null    object
 3   Items_Qty_In_Grams  514 non-null    float64
dtypes: float64(1), object(3)
memory usage: 16.3+ KB

In [24]:
sales_data.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [25]:
ingredient_pizza.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [26]:
sales_data.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [27]:
ingredient_pizza.isnull().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

Handling null values

In [28]:
#sales datasets
sales_data['pizza_name_id'].fillna('unknown',inplace=True)
sales_data['pizza_category'].fillna('unknown',inplace=True)
sales_data['pizza_ingredients'].fillna('unknown',inplace=True)
sales_data['pizza_name'].fillna('unknown',inplace=True)
sales_data['total_price'].fillna(sales_data['total_price'].mean(),inplace=True)

#ingredient_pizza dataset

ingredient_pizza['Items_Qty_In_Grams'].fillna(ingredient_pizza['Items_Qty_In_Grams'].mean(),inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['pizza_name_id'].fillna('unknown',inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['pizza_category'].fillna('unknown',inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['pizza_ingredients'].fillna('unknown',inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['pizza_name'].fillna('unknown',inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales_data['total_price'].fillna(sales_data['total_price'].mean(),inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_15840\4112723498.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ingredient_pizza['Items_Qty_In_Grams'].fillna(ingredient_pizza['Items_Qty_In_Grams'].mean(),inplace=True)

In [29]:
sales_data.dtypes

pizza_id               int64
order_id               int64
pizza_name_id         object
quantity               int64
order_date            object
order_time            object
unit_price           float64
total_price          float64
pizza_size            object
pizza_category        object
pizza_ingredients     object
pizza_name            object
dtype: object

In [30]:
ingredient_pizza.dtypes

pizza_name_id          object
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

changing dtypes

In [31]:
# Convert order_date and order_time to datetime
try:
    sales_data['order_datetime'] = pd.to_datetime(
        sales_data['order_date'] + ' ' + sales_data['order_time'], 
        format='mixed', 
        dayfirst=True, 
        errors='coerce'  # Convert unparseable dates to NaT
    )
    print("Datetime conversion successful!")
except Exception as e:
    print(f"Error in datetime conversion: {e}")

Datetime conversion successful!

In [32]:
#drop old data and time columns

sales_data.drop(['order_date','order_time'],axis=1, inplace=True)

In [33]:
sales_data.dtypes

pizza_id                      int64
order_id                      int64
pizza_name_id                object
quantity                      int64
unit_price                  float64
total_price                 float64
pizza_size                   object
pizza_category               object
pizza_ingredients            object
pizza_name                   object
order_datetime       datetime64[ns]
dtype: object

In [42]:
sales_data

,pizza_id,order_id,pizza_name_id,quantity,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name,order_datetime
0,1,1,hawaiian_m,1,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza,2015-01-01 11:38:36
1,2,2,classic_dlx_m,1,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza,2015-01-01 11:57:40
2,3,2,five_cheese_l,1,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza,2015-01-01 11:57:40
3,4,2,ital_supr_l,1,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza,2015-01-01 11:57:40
4,5,2,mexicana_m,1,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-01-01 11:57:40
...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,16.75,16.75,M,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza,2015-12-31 21:23:10
48616,48617,21348,four_cheese_l,1,17.95,17.95,L,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza,2015-12-31 21:23:10
48617,48618,21348,napolitana_s,1,12.00,12.00,S,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza,2015-12-31 21:23:10
48618,48619,21349,mexicana_l,1,20.25,20.25,L,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza,2015-12-31 22:09:54
48619,48620,21350,bbq_ckn_s,1,12.75,12.75,S,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza,2015-12-31 23:02:05

In [34]:
# Check for duplicates and remove them
sales_data.drop_duplicates(inplace=True)
ingredient_pizza.drop_duplicates(inplace=True)

In [35]:
# Validate data consistency
invalid_pizza_ids = ~sales_data['pizza_name_id'].isin(ingredient_pizza['pizza_name_id'])
print(f"Invalid pizza_name_id count: {invalid_pizza_ids.sum()}")

Invalid pizza_name_id count: 16

In [36]:
# Identify rows with invalid or missing pizza_name_id
invalid_pizza_name_ids = sales_data[sales_data['pizza_name_id'].isna()]

# Display the rows with missing pizza_name_id
print(f"Number of invalid pizza_name_id: {len(invalid_pizza_name_ids)}")
print(invalid_pizza_name_ids)

Number of invalid pizza_name_id: 0
Empty DataFrame
Columns: [pizza_id, order_id, pizza_name_id, quantity, unit_price, total_price, pizza_size, pizza_category, pizza_ingredients, pizza_name, order_datetime]
Index: []

In [37]:
print(sales_data.nunique())

pizza_id             48620
order_id             21350
pizza_name_id           92
quantity                 4
unit_price              25
total_price             57
pizza_size               5
pizza_category           5
pizza_ingredients       33
pizza_name              33
order_datetime       21350
dtype: int64

In [38]:
ingredient_pizza.nunique()

pizza_name_id         91
pizza_name            32
pizza_ingredients     64
Items_Qty_In_Grams    18
dtype: int64

In [39]:
merge_data=pd.merge(sales_data,ingredient_pizza,on='pizza_name_id',how='left')

print(merge_data)

        pizza_id  order_id  pizza_name_id  quantity  unit_price  total_price  \
0              1         1     hawaiian_m         1       13.25        13.25
1              1         1     hawaiian_m         1       13.25        13.25
2              1         1     hawaiian_m         1       13.25        13.25
3              2         2  classic_dlx_m         1       16.00        16.00
4              2         2  classic_dlx_m         1       16.00        16.00
...          ...       ...            ...       ...         ...          ...
267502     48620     21350      bbq_ckn_s         1       12.75        12.75
267503     48620     21350      bbq_ckn_s         1       12.75        12.75
267504     48620     21350      bbq_ckn_s         1       12.75        12.75
267505     48620     21350      bbq_ckn_s         1       12.75        12.75
267506     48620     21350      bbq_ckn_s         1       12.75        12.75

       pizza_size pizza_category  \
0               M        Classic
1               M        Classic
2               M        Classic
3               M        Classic
4               M        Classic
...           ...            ...
267502          S        Chicken
267503          S        Chicken
267504          S        Chicken
267505          S        Chicken
267506          S        Chicken

                                      pizza_ingredients_x  \
0                Sliced Ham, Pineapple, Mozzarella Cheese
1                Sliced Ham, Pineapple, Mozzarella Cheese
2                Sliced Ham, Pineapple, Mozzarella Cheese
3       Pepperoni, Mushrooms, Red Onions, Red Peppers,...
4       Pepperoni, Mushrooms, Red Onions, Red Peppers,...
...                                                   ...
267502  Barbecued Chicken, Red Peppers, Green Peppers,...
267503  Barbecued Chicken, Red Peppers, Green Peppers,...
267504  Barbecued Chicken, Red Peppers, Green Peppers,...
267505  Barbecued Chicken, Red Peppers, Green Peppers,...
267506  Barbecued Chicken, Red Peppers, Green Peppers,...

                      pizza_name_x      order_datetime  \
0               The Hawaiian Pizza 2015-01-01 11:38:36
1               The Hawaiian Pizza 2015-01-01 11:38:36
2               The Hawaiian Pizza 2015-01-01 11:38:36
3         The Classic Deluxe Pizza 2015-01-01 11:57:40
4         The Classic Deluxe Pizza 2015-01-01 11:57:40
...                            ...                 ...
267502  The Barbecue Chicken Pizza 2015-12-31 23:02:05
267503  The Barbecue Chicken Pizza 2015-12-31 23:02:05
267504  The Barbecue Chicken Pizza 2015-12-31 23:02:05
267505  The Barbecue Chicken Pizza 2015-12-31 23:02:05
267506  The Barbecue Chicken Pizza 2015-12-31 23:02:05

                      pizza_name_y pizza_ingredients_y  Items_Qty_In_Grams
0               The Hawaiian Pizza          Sliced Ham           30.564202
1               The Hawaiian Pizza           Pineapple           30.000000
2               The Hawaiian Pizza   Mozzarella Cheese           20.000000
3         The Classic Deluxe Pizza           Pepperoni           40.000000
4         The Classic Deluxe Pizza           Mushrooms           40.000000
...                            ...                 ...                 ...
267502  The Barbecue Chicken Pizza         Red Peppers            5.000000
267503  The Barbecue Chicken Pizza       Green Peppers           20.000000
267504  The Barbecue Chicken Pizza            Tomatoes           10.000000
267505  The Barbecue Chicken Pizza          Red Onions           20.000000
267506  The Barbecue Chicken Pizza      Barbecue Sauce            5.000000

[267507 rows x 14 columns]

In [41]:
merge_data.to_csv(r"E:\Daminos_order_forecasting\datasets\merged_pizza_data.csv", index=False)